<?xml version="1.0"?>

<robot xmlns:xacro="http://wiki.ros.org/xacro" name="onrobot_rg_roscontrol_macro">

    <xacro:macro name="rg_ros2_control" params="gripper_name prefix model real_hardware:=false standalone:=false safety_shield:=false">
            <xacro:unless value="${real_hardware}">
                <joint name="${gripper_name}_joint">
                    <command_interface name="position"/>
                    <state_interface name="position">
                        <param name="initial_value">0.01</param> # avoid to be stuck due to a pos under 0.0
                    </state_interface>
                    <state_interface name="velocity"/>
                    <state_interface name="effort"/>
                </joint>
                <joint name="${gripper_name}_finger_1_truss_arm_joint">
                <state_interface name="position"/>
                </joint>
                <joint name="${gripper_name}_finger_1_finger_tip_joint">
                <state_interface name="position"/>
                </joint>
                <xacro:if value="${safety_shield}">
                <joint name="${gripper_name}_finger_1_safety_shield_joint">
                    <state_interface name="position"/>
                </joint>
                </xacro:if>
                
                <joint name="${gripper_name}_finger_2_truss_arm_joint">
                <state_interface name="position"/>
                </joint>
                <joint name="${gripper_name}_finger_2_finger_tip_joint">
                <state_interface name="position"/>
                </joint>
                <xacro:if value="${safety_shield}">
                <joint name="${gripper_name}_finger_2_safety_shield_joint">
                    <state_interface name="position"/>
                </joint>
                </xacro:if>
            </xacro:unless>

            <xacro:if value="${real_hardware}">
                <hardware>
                    <plugin>onrobot_interface::OnRobotHardwareInterface</plugin>
                    <param name="prefix">${prefix}</param>
                    <param name="model">${model}</param>
                </hardware>
                <joint name="${gripper_name}_joint">
                    <command_interface name="position"/>
                    <state_interface name="position"/>
                    <state_interface name="velocity"/>
                    <state_interface name="effort"/>
                </joint>

            </xacro:if>
        </xacro:macro>
</robot>